body {
    background-color: white;
}

h3 {
    color: rgb(40, 5, 62);
    font-size: 32pt;
}

.summary p {
    color: rgb(40, 5, 62);
    font-size: 16pt;
    font-weight: bold;
    padding-right: 2%;
    display: inline-block;
}

.quiz p{
    color: rgb(40, 5, 62);
    font-size: 16pt;
    font-weight: bold;
    padding-right: 2%;
    display: inline-block;
}

#quiz-intro {
    color: rgb(40, 5, 62);
    font-size: 16pt;
    font-weight: bold;
    padding-right: 2%;
    display: inline-block;
}

#quiz-intro {
    padding-top: 8%;
}

.btn {
    background-color: rgb(40, 5, 62);
}

#show-quiz {
    margin-bottom: 4%;
}


.opener {
    padding-top: 10%;
    padding-left: 8%;
}

#cover-pic {
    width: 70vw;
    height: auto;
    margin-left: 20%;
}

.quiz {
    padding-left: 10%;
    padding-top: 5%;
    display: none;
}

.results {
    padding-top: 10%;
    padding-left: 10%;
}

.card {
    width: 30vw;
    height: auto;
    display: none;
    margin-bottom: 5%;
}

.destination {
    border: 2px solid grey;
    border-radius: 5px;
    margin-top: 4%;
    margin-left: 10%;
    width: 25vw;
    padding: 4%;
}

.dest-img {
    width: 100%;
    height: auto;
}

#map {
    height: 300px; 
    width: 75%; 
    margin-left: 10%;
    margin-top: 3%;
  }

footer {
    background-color: rgb(40, 5, 62);
}

footer h5 {
    color: palegoldenrod;
    font-weight: bold;
    padding: 3%;
}

footer p {
    color: palegoldenrod;
    font-weight: bold;
    padding-left: 3%;
    size: 10pt;
}

.fa-brands {
    color: palegoldenrod;
    size: 16pt;
    padding: 5%;
}

