/*-----------------------------------------------------------------------------Background colours */

body {
    background-color: white;
}

.nav {
    background-color: rgb(40, 5, 62);
}

footer {
    background-color: rgb(40, 5, 62);
}

/*-----------------------------------------------------------------------------Page formatting */

html, body {
    overflow-x: hidden;
  }

  body {
    position: relative;
  }

  .wrapper {
    margin-right: 8%;
  }

  /* results are two per row in wider screens */
  .results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  
/*-----------------------------------------------------------------------------Text styling */

h3 {
    color: rgb(40, 5, 62);
    font-size: 32pt;
}

h6 {
    color: rgb(40, 5, 62);
}

label {
    color: rgb(40, 5, 62)
}

.summary p {
    color: rgb(40, 5, 62);
    font-size: 16pt;
    font-weight: bold;
    padding-right: 2%;
    display: inline-block;
}

.quiz p{
    color: rgb(40, 5, 62);
    font-size: 16pt;
    font-weight: bold;
    padding-right: 2%;
    display: inline-block;
}

#quiz-intro {
    color: rgb(40, 5, 62);
    font-size: 16pt;
    font-weight: bold;
    padding-right: 2%;
}

.active {
    font-weight: bold;
}

.nav-link {
    color: whitesmoke;
    font-size: 8pt;
}

footer h5 {
    color: whitesmoke;
    font-weight: bold;
    padding: 3%;
}

footer p {
    color: whitesmoke;
    font-weight: bold;
    padding-left: 3%;
    font-size: 12pt;
}

.about p {
    color: rgb(40, 5, 62);
    font-size: 16pt;
    padding-right: 2%;
    display: inline-block;
}

.book {
    font-weight: bold;
}

/*-----------------------------------------------------------------------------Quiz / Button styling */

#quiz-intro {
    padding-top: 2%;
}

.btn {
    background-color: rgb(40, 5, 62);
    margin-left: 3%;
}

#show-quiz {
    margin-bottom: 4%;
}

.opener {
    padding-top: 10%;
    padding-left: 8%;
}

.quiz {
    padding-left: 7%;
    padding-top: 5%;
    display: none;
}

/*-----------------------------------------------------------------------------About page formatting */


.outer {
    padding: 5% 10%;
}

.about {
    padding-top: 5%;
    width: 80vw;
    margin: auto;
  }

/*-----------------------------------------------------------------------------Images */

#cover-pic {
    margin-left: 20%;
    width: 20vw;
    height: auto;
}

.dest-img {
    width: 100%;
    height: auto;
}
/*-----------------------------------------------------------------------------Card formatting */

.results {
    padding-top: 5%;
    padding-left: 5%;
}

.card {
    width: 30vw;
    height: auto;
    display: none;
    margin-bottom: 5%;
}

.destination {
    border: 2px solid grey;
    border-radius: 5px;
    margin-top: 4%;
    margin-left: 15%;
    margin-bottom: 4%;
    width: 75vw;
    padding: 4%;
    background-color: whitesmoke;
}

/*-----------------------------------------------------------------------------Filter */

#filter-box {
    margin-left: 10%;
}

input[type='checkbox'] {
    font-size: 12pt;
    color: rgb(40, 5, 62);
    margin-left: 2%;
}

/*-----------------------------------------------------------------------------Footer styling */

#map {
    height: 300px; 
    width: 75%; 
    margin-left: 10%;
    margin-top: 3%;
  }

.fa-brands {
    color: whitesmoke;
    font-size: 24pt;
}

.socials {
    margin: 1%;
    padding-top: 10%;
}

/*-----------------------------------------------------------------------------Media queries */

@media(min-width: 992px) and (max-width: 2559px) {

    h3 {
        font-size: 48pt;
    }

    #cover-pic {
        margin-left: 10%;
    } 

    .opener {
        margin-left: 15%;
        padding-top: 2%;
    }

    #map {
        width: 40%; 
        height: 400px;
        margin: 4%;
      }
    
    .fa-brands {
        color: whitesmoke;
        font-size: 32pt;
        margin: 1%;
    }

    .socials {
        margin: 1%;
    }

    #contact {
        text-align: left;
        padding-top: 2%;
        margin: 2%;
    }

    .destination {
        border: 1px solid grey;
        border-radius: 5px;
        margin-top: 4%;
        /* margin-left: 25%; */
        margin-bottom: 4%;
        width: auto;
        padding: 2%;
        background-color: whitesmoke;
    }

    .nav {
        padding: 1% 5%;
    }

    /* Stop the filter breaking into three lines on wider screens */
    .mobile-break {
        display: none;
    }

    .nav-link {
        font-size: 26pt;
    }
}